footer {
    text-align: center;
    padding: 12px 16px;
    font-family: "Roboto Slab", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: auto;

    h3,
    h6 {
        margin: 4px 0;
        line-height: 1.1;
        font-size: 0.9rem;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 6px;
        align-items: center;
        margin: 4px 0;
    }

    .social-icon {
        width: 30px;
        height: auto;
        transition: transform 0.3s ease;
    }

    .social-icon:hover {
        transform: scale(1.2);
    }

}