@use "variables" as v;

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main, .content {
	flex: 1 0 auto;
	background-color: v.$background;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.galeria img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}
.recuadro-texto,
.sobre-mi {
    background-color: v.$background;
    color: #000;
    text-align: center;
    padding: 30px;
    margin: 40px auto;
    border-radius: 15px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto Slab", serif;
    line-height: 1.6;
}

.recuadro-texto h3,
.sobre-mi h3 {
    margin-bottom: 20px;
    color: #004c99;
}
.recuadro-texto:hover,
.sobre-mi:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	transform: scale(1.02);
}