/* Error: expected ";".
 *   ,
 * 8 |         height: 8vh;
 *   |               ^
 *   '
 *   sass\_header.scss 8:15  @use
 *   sass\style.scss 4:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 8 \2502          height: 8vh;\d\a   \2502                ^\a   \2575 \a   sass\\_header.scss 8:15  @use\a   sass\\style.scss 4:1     root stylesheet';
}
